<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus disease (COVID-19) Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>
<div class="container">

    <div class=""card text-center>

        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#">Safety Tips</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <h1 class="card-title">Coronavirus Disease (Covid-19) Pandemic Tracker</h1>
            <h5 class="card-title">Get to know the number of cases in your region and all over the globe.</h5>
            <h3>
                <span class="badge badge-danger font-weight-bold" th:text="${totalReportedCases}">Total cases reported as of today</span>
            </h3>

            <p class="lead">Total cases reported as of today</p>

            <hr class="my-4">

            <span>New cases reported since yesterday: </span>
            <h4>
                <span class="badge badge-primary font-weight-bold" th:text="${totalNewCases}"></span>
            </h4>
        </div>

    </div>


    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="sticky-top">
                <th>Country</th>
                <th>State</th>
                <th>Total Cases</th>
                <th>Changes since last day</th>
            </tr>
        </thead>
        <tbody class="">
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.state}"></td>

                <td th:text="${locationStat.latestTotalCases}">0</td>
                <td th:text="${locationStat.diffFromPrevDay}">0</td>
            </tr>
        </tbody>
    </table>

</div>

<!-- Footer -->
<footer class="container font-small bg-info text-white py-3">

    <!-- Footer Elements -->
    <div class="container">


                    <p>DISCLAIMER:</p>
                    <p>Data is provided by Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE)</p>
                    <p>Visual Dashboard (desktop):</p>
                    <p>https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6</p>

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://linkedin.com/in/treasure-onoja" class="text-white"> Treasure</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>